<!DOCTYPE html>
<html>
<head>
    <title>{% block title '' %} - My Silex Application</title>
    <link rel="stylesheet" href="{{ app.request.basepath }}/css/pure-min.css" type="text/css"/>
    <link rel="stylesheet" href="{{ app.request.basepath }}/css/side-menu.css" type="text/css"/>
</head>
<body>

<div id="layout">
    <a href="#menu" id="menuLink" class="menu-link">
        <span></span>
    </a>

    <div id="menu">
        <div class="pure-menu pure-menu-open">
            <a class="pure-menu-heading" href="/">Queue Demo</a>
            <ul>
                <li><a href="/">Start</a></li>
                <li><a href="/queues">Queues</a></li>
            </ul>
        </div>
    </div>

    <div id="main">
        {% block content %}{% endblock %}
    </div>
</div>

<script src="/js/ui.js"></script>


</body>
</html>
