{% extends "layout.twig" %}
{% block content %}
    <div class="header">
        <h1>Queues</h1>

        <h2></h2>
    </div>

    <div class="content">
        <table class="pure-table">
            <thead>
            <tr>
                <th>Queue Name</th>
                <th>State</th>
                <th>Consumers</th>
                <th>Messages Ready</th>
                <th>Messages Unacknowledged</th>
                <th>Messages Total</th>
            </tr>
            </thead>
            {% for queue in queues %}
                <tr>
                    <td>{{ queue.name }}</td>
                    <td>{{ queue.state }}</td>
                    <td>{{ queue.consumers }}</td>
                    <td>{{ queue.messages_ready }}</td>
                    <td>{{ queue.messages_unacknowledged }}</td>
                    <td>{{ queue.messages }}</td>
                </tr>
                {#{{ queue|json_encode }}#}
            {% endfor %}
        </table>
    </div>
{% endblock %}
